<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Document</title>
</head>

<body>

    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">My Music</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Dashboard</a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Dashboard</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="container">
        <div id="root" class="section">
            <div style="margin: 10px">
                <button class="waves-effect waves-light btn modal-trigger" data-target="addmodal">Add new music</button>
                <div id="addmodal" class="modal">
                    <div class="modal-content">
                        <h4>Add new music</h4>
                        <div class="row">
                            <div class="input-field col s6">
                                <input v-model="music.title" id="music-title" type="text">
                                <label for="music-title">Music Title</label>
                            </div>
                            <div class="input-field col s6">
                                <input v-model="music.album" id="music-album" type="text">
                                <label for="music-album">Music Album</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input v-model="music.artist" id="music-artist" type="text">
                                <label for="music-artist">Music Artist</label>
                            </div>
                            <div class="input-field col s6">
                                <input v-model="music.year" id="music-year" type="number" min="1970" :max="new Date().getFullYear()">
                                <label for="music-year">Music Year</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea v-model="music.lyric" id="music-lyric" class="materialize-textarea"></textarea>
                                <label for="music-lyric">Music Lyric</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" id="close-modal" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                        <a href="#!" style="color: green" class="waves-effect waves-green btn-flat" @click="addNewMusic()">Submit</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div v-for="(music, i) in musics" class="col s12 m6" :key="i">
                    <div class="card horizontal">
                        <div class="card-stacked">
                            <div class="card-content">
                                <h4>{{ music.title }}</h4>
                                <h5>{{ music.album }} - {{ music.artist }} ({{ music.year }})</h5>
                                <p>{{ music.lyric }}</p>
                            </div>
                            <div class="card-action">
                                <a v-if="!music.lyric" style="color: blueviolet" href="#"
                                    @mouseover="loadLyric(music._id, i)">Hover here to see lyric</a>
                                <a style="color: crimson" href="#" @click="deleteMusic(music._id, i)">Delete this music</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/assets/script.js"></script>
</body>

</html>